:root {
  --white: white;
  --color-primary: #26BBA4;
  --color-secundary: #6174FF;
  --text-color: #4C545C;
  --text-color-secundary: #9EABB2;
  --background-footer: #d3e0e8;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}

/* Variables SASS */
